a {
	color: white;
}

body {
	margin: 50px;
}

footer {
	border: thin solid black; 
	text-align: center
}

.clear {
	clear: both;
}

.leftbox {
	background-color: darkgrey;
}

.zodiacSection {
	float: left; 
	padding: 10px; 
	width:50%; 
	background-color: white;
}