body {
	margin: 25px;
}

a {
	color: white;
}

h2 {
	text-align: center;
}

footer {
	border: thin solid black; 
	text-align: center
}

.leftbox {
	background-color: darkgrey;
}

.about {
	float: left; 
	padding: 10px; 
	width:50%; 
	background-color: white;
}

.clear {
	clear: both;
}

#myPicture {
	width:100px; 
	height:150px; 
	float: left; 
	margin-right: 1em; 
	margin-bottom: 8px; 
	margin-top: 8px;
}

#sectionArticle
