body {
	width: auto;
	height: auto;
	position: relative;
	margin: 25px;
}

a {
	color: white;
}

h2 {
	text-align: center;
}

footer {
	border: thin solid black; 
	text-align: center
}

table {
	position:relative;
	padding-top:0em;
}

td {
	vertical-align: top;
}
 
iframe{
	;
}

.leftbox {
	width:15%;
	background-color: darkgrey;
}

.about {
	width:65%; 
	background-color: white;
}

.clear {
	clear: both;
}

#myPicture {
	width:100px; 
	height:150px; 
	float: left; 
	margin-right: 1em; 
	margin-bottom: 8px; 
	margin-top: 8px;
}
