.headerNav {
    background-color: darkblue;
    color: white;
    padding-left: 40px;
}

nav.headerNav > a:link{
	color:white;
	text-decoration: none;
}

nav.headerNav > a:visited{
	color:grey;
}

nav.headerNav > a:hover{
	color:yellow;
	font-weight: bold;
}

.pageNav {
	float: left;
	padding : 1em; 
	color: white;
}

nav.pageNav > a:link{
	color: white;
	text-decoration: none;
}

nav.pageNav > a:visited{
	color:grey;
}

nav.pageNav > a:hover{
	color:yellow;
	font-weight: bold;
}