.pageNav {
	float: left;
	padding : 1em; 
	color: white;
}

nav.pageNav > nav a:link{
	color: white;
	text-decoration: none;
}

nav.pageNav > nav a:visited{
	color:grey;
}

nav.pageNav > nav a:hover{
	color:yellow;
	font-weight: bold;
}