body {
	width: auto;
	height: auto;
}

footer {
	border: thin solid black; 
	text-align: center
}

table {
	padding-top:0em;
	position: relative;
}

td {
	vertical-align: top;
}

.clear {
	clear: both;
}

.zodiacSection {
	padding: 10px; 
	width:40%; 
	background-color: white;
	position: relative;
}